<!--
thymeleaf名称空间:xmlns:th="http://www.thymeleaf.org" 可以在IDE中语法提示

thymeleaf基本语法
    th:任意html属性 = ${}

    th:* 执行顺序

    1 Fragment inclusion              th:insert
                                      th:replace

    2 Fragment iteration              th:each

    3 Conditional evaluation          th:if
                                      th:unless
                                      th:switch
                                      th:case
      --(like c:set)
    4 Local variable definition       th:object
                                      th:with

    5 General attribute modification  th:attr
                                      th:attrprepend
                                      th:attrappend

    6 Specific attribute modification th:value
                                      th:href
                                      th:src
                                      ...

    7 Text (tag body modification)    th:text
                                      th:utext

    8 Fragment specification          th:fragment

    9 Fragment removal                th:remove

    表达式语法
    Simple expressions:
        Variable Expressions: ${...}
        获取对象属性、调用对象方法等
        [
			eg:
			/*
			 * Access to properties using the point (.). Equivalent to calling property getters.
			 */
			${person.father.name}
			/*
			 * Access to properties can also be made by using brackets ([]) and writing
			 * the name of the property as a variable or between single quotes.
			 */
			${person['father']['name']}
			/*
			 * If the object is a map, both dot and bracket syntax will be equivalent to
			 * executing a call on its get(...) method.
			 */
			${countriesByCode.ES}
			${personsByName['Stephen Zucchini'].age}
			/*
			 * Indexed access to arrays or collections is also performed with brackets,
			 * writing the index without quotes.
			 */
			${personsArray[0].name}
			/*
			 * Methods can be called, even with arguments.
			 */
			${person.createCompleteName()}
			${person.createCompleteNameWithSeparator('-')}
        ]
        访问内置对象
        [
            #ctx : the context object.
            #vars: the context variables.
            #locale : the context locale.
            #request : (only in Web Contexts) the HttpServletRequest object.
            #response : (only in Web Contexts) the HttpServletResponse object.
            #session : (only in Web Contexts) the HttpSession object.
            #servletContext : (only in Web Contexts) the ServletContext object.
            ----------------------------------------------------------------------
            eg:
            <span th:text="${#locale.country}">CN</span>

            ${param.size()}
            ${param.isEmpty()}
            ${param.containsKey('foo')
            ${session.size()}
            ${session.isEmpty()}
            ${session.containsKey('foo')}
        ]
        内置的工具对象
        [
            #execInfo : information about the template being processed.
            #messages : methods for obtaining externalized messages inside variables expressions, in the same way as they
                        would be obtained using #{…} syntax.
            #uris : methods for escaping parts of URLs/URIs
            #conversions : methods for executing the configured conversion service (if any).
            #dates : methods for java.util.Date objects: formatting, component extraction, etc.
            #calendars : analogous to #dates , but for java.util.Calendar objects.
            #numbers : methods for formatting numeric objects.
            #strings : methods for String objects: contains, startsWith, prepending/appending, etc.
            #objects : methods for objects in general.
            #bools : methods for boolean evaluation.
            #arrays : methods for arrays.
            #lists : methods for lists.
            #sets : methods for sets.
            #maps : methods for maps.
            #aggregates : methods for creating aggregates on arrays or collections.
            #ids : methods for dealing with id attributes that might be repeated (for example, as a result of an iteration)
        ]


        Selection Variable Expressions: *{...}
        选择表达式 基本和$一样 配合th:object使用
        [
            <div th:object="${session.user}">
                <p>Name: <span th:text="*{firstName}">Sebastian</span>.</p>
                <p>Surname: <span th:text="*{lastName}">Pepper</span>.</p>
                <p>Nationality: <span th:text="*{nationality}">Saturn</span>.</p>
            </div>
        ]


        Message Expressions: #{...}
        取国际化内容

        Link URL Expressions: @{...}
        [
            @{/order/process(execId=${execId},execType='FAST')}
        ]

        Fragment Expressions: ~{...}

    Literals
        Text literals: 'one text' , 'Another one!' ,…
        Number literals: 0 , 34 , 3.0 , 12.3 ,…
        Boolean literals: true , false
        Null literal: null
        Literal tokens: one , sometext , main ,…
    Text operations
        String concatenation: +
        Literal substitutions: |The name is ${name}|
    Arithmetic operations
        Binary operators: + , - , * , / , %
        Minus sign (unary operator): -
    Boolean operations
        Binary operators: and , or
        Boolean negation (unary operator): ! , not
    Comparisons and equality
        Comparators: > , < , >= , <= ( gt , lt , ge , le )
        Equality operators: == , != ( eq , ne )
    Conditional operators
        If-then: (if) ? (then)
        If-then-else: (if) ? (then) : (else)
        Default: (value) ?: (defaultvalue)
    Special tokens
        No-Operation: _

-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Signin Template for Bootstrap</title>
	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="asserts/css/signin.css" th:href="@{/asserts/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" action="dashboard.html">
	<img class="mb-4" src="asserts/img/bootstrap-solid.svg" th:src="@{/asserts/img/bootstrap-solid.svg}" alt="" width="72" height="72">

	<h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
	<label class="sr-only">Username</label>
	<input type="text" class="form-control" placeholder="Username" required="" autofocus="">
	<label class="sr-only">Password</label>
	<input type="password" class="form-control" placeholder="Password" required="">
	<div class="checkbox mb-3">
		<label><input type="checkbox" value="remember-me"> Remember me</label>
	</div>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

	<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
	<a class="btn btn-sm">中文</a>
	<a class="btn btn-sm">English</a>
</form>

</body>

</html>